<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit()" #f="ngForm">
        <div id="user-data">
          <div class="form-group">
            <label for="username">Username</label>
            <input 
            type="text" 
            id="username" 
            class="form-control"
            name ="username" 
            ngModel>
          </div>
          <div class="form-group">
            <label for="phonenumber">Phone Number</label>
            <input 
            type="phonenumber" 
            id="phonenumber" 
            class="form-control"
            ngModel
            name="phonenumber">
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input 
            type="email" 
            id="email" 
            class="form-control"
            ngModel
            name="email">
          </div>
        </div>
        <div class="form-group">
          <label for="airport">Airport</label>
          <select id="airport" 
          class="form-control"
          ngModel
          name="airport">
            <option value="tp">Toronto Pearson</option>
            <option value="sp">Shanghai Pudong</option>
          </select>
        </div>
        <my-date-picker 
        name="date" 
        ngModel
        [options]="myDatePickerOptions"
        markCurrentDay=true></my-date-picker>
        <button class="btn btn-primary" type="submit">Submit</button>
        <button class="btn btn-primary" (click)="onGet()">Get Order</button>
      </form>
      <div class="row">
        <div class="col-xs-12" *ngIf="submitted">
          <h3>Your Order</h3>
          <p>Username: {{ userOrder.username }}</p>
          <p>Mail: {{ userOrder.email }}</p>
          <p>Phone Number: {{ userOrder.phonenumber }}</p>
          <p>Airport: {{ userOrder.airport }}</p>
          <p>Date: {{ userOrder.date }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
